@font-face
  font-family: 'Manrope'
  src: url('@/shared/assets/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype')
  font-weight: 100 900
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Playfair Display'
  src: url('@/shared/assets/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype')
  font-weight: 400 900
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Marck Script'
  src: url('@/shared/assets/fonts/marck-script/MarckScript-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal
  font-display: swap
