services:
  react-app:
    container_name: react_sorcery
    build:
      context: .
      dockerfile: ./docker/ui/Dockerfile
    ports:
      - ${PORT_HOST_MACHINE}:3000
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    restart: always

volumes:
  node_modules:
